*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

main{
    margin-top: 65px;
}

.img-prodotto{
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
}




/* CLASSI DI LAYOUT */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    width: 100%;
    flex-wrap: wrap;
}

.col33{
    margin: 10px 5px;
    width: calc(100% / 3 - 20px);
}



/* CLASSI DI UTILITY */
.d-flex{
    display: flex;
}

.a-items-center{
    align-items: center;
}

.j-c-center{
    justify-content: center;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}



/* BACKGROUND */
.background-color-orange{
    background-color: rgb(235, 122, 29);
}

.background-color-black{
background-color: black;
}

/* COLORI */
.prezzo-scontato{
    color: red;
}

.prezzo-originale{
    text-decoration: line-through;
}
